dnspython~=2.6.1
idna~=3.7
cryptography~=42.0.5
pip~=24.0
wheel~=0.41.3
Jinja2~=3.1.3
rsa~=4.9
pyasn1~=0.6.0
pymongo~=4.6.3
setuptools~=68.2.2
MarkupSafe~=2.1.5
Werkzeug~=3.0.2
click~=8.1.7
blinker~=1.7.0
itsdangerous~=2.2.0
certifi~=2024.2.2
requests~=2.31.0
urllib3~=2.2.1
pyparsing~=3.1.2
httplib2~=0.22.0
pycparser~=2.22
uritemplate~=4.1.1
CacheControl~=0.14.0
msgpack~=1.0.8
pyasn1_modules~=0.4.0
Flask~=3.0.3
python-dotenv~=1.0.1